<a href="#/home/">>> back home</a>
<div class="page-header">
  <h2>About Todo-ism!</h2>
</div>
<div class="row" style="font-size: 15px;">
	<div class="col-md-12 strong">
		Todo-ism is a simple but effective todo list app built using AngularJS, Node.js and BlueMix. <br /><br />
		<ol>
			<li>Add/delete as many lists as you like.</li>
			<li>Add/delete todos. Mark them done as they get completed.</li>
			<li>Lightning fast search for existing lists and todos.</li>
			<li>Track different project todos by creating a todo list for each project.</li>
			<li>Managers and team leads track their team's todos. Just create a new list for each person.</li>
		</ol>
		<br />
		Check out the code at: <a href="https://github.com/daudahmad/todoism" target="_blank">https://github.com/daudahmad/todoism</a>
		<blockquote class="blockquote-reverse">
			For queries and suggestions:
			<address>
			  <strong>Daud Ahmad</strong><br>
			  <a href="mailto:#">daudak@pk.ibm.com</a>
			</address>
		</blockquote>
	</div>
</div>