<div class="page-header">
  <h2>Todo-ism!</h2>
</div>

<div class="row">
  <!-- <div class="col-md-12"> -->
    <!-- <div ng-repeat="todoList in todoLists.lists track by $index"> -->
    <div ng-repeat="todoList in todoLists.lists | filter: { listTitle: queryList } | filter:queryTodo track by $index">
      <div class="col-md-5 well">
        <h4>
          <span style="cursor: pointer" editable-text="todoList.listTitle" e-placeholder="add todolist name" onaftersave="todoLists.save()">{{todoList.listTitle}}</span>
        </h4>
        <span>{{todoLists.remaining(todoList.todos)}} of {{todoList.todos.length}} remaining</span>
        [<a href="" ng-click="todoLists.archive(todoList.todos, $index)">archive</a>]
        <ul class="list-unstyled">
          <li ng-repeat="todo in todoList.todos | filter:queryTodo track by $index">
            <input type="checkbox" ng-model="todo.done" style="cursor: pointer">
            <span class="done-{{todo.done}}" style="cursor: pointer" editable-text="todo.text" e-name="edittodotext" e-placeholder="update todo here"
                    onshow="todoLists.startEditing()" onaftersave="todoLists.save()" oncancel="todoLists.cancelEditing()">{{todo.text}}</span>
            <!-- <span class="done-{{todo.done}}" ng-hide="editing" ng-click="editing = true">{{todo.text}}</span>
            <form ng-show="editing" class="form-inline" ng-submit="editing = false; todoLists.save();"> onshow="todoLists.showAlert()"
              <input type="text" ng-show="editing" class="form-inline" ng-model="todo.text" size="28">
              <button class="glyphicon glyphicon-ok" type="submit"></button>
            </form> -->
            <a href="" ng-hide="editing" ng-click="todoLists.removeTodo(todoList.todos, $parent.$index, $index)">
              <span class="glyphicon glyphicon-remove pull-right" style="margin-right:20px"></span>
            </a>
          </li>
        </ul>
        <form ng-submit="todoLists.addTodo(todoList.todos)" class="form-inline">
          <input type="text" class="form-control" ng-model="todoList.todos.todoText" size="30" placeholder="add new todo here">
          <input class="btn btn-primary" type="submit" value="add">
        </form>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-12" ng-show="$odd"></div>
    </div>
  <!-- </div> -->
</div>